.pics-caroussel-container{
    height: 60vh;
    width: 100%;
    background-image: url('../Img/oE4JmxAhTaZ0IPKO8PIvRhKbI4x6vz002.jpg');
    background-position: center;
    background-repeat: no-repeat;
}